<div class="palm-group" id="groupTeam">
    <div class="palm-group-title" x-mojo-loc=''>Player Details</div>
    <div class="palm-list">
        <div class="palm-row single" id="nameRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="details"></div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group" id="groupTeam">
    <div class="palm-group-title" x-mojo-loc=''>Stats and Scores</div>
    <div class="palm-list">
        <div class="palm-row single" id="nameRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="stats"></div>
            </div>
        </div>
    </div>
</div>
