<div class="palm-group" id="groupStatus">
    <div class="palm-group-title" x-mojo-loc=''>Welcome</div>
    <div class="palm-list">
        <div class="palm-row single" id="FetchRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="fetch">Fetching your teams...</div>
                <div id="welcom">Welcome to Fantasy Sports<br />Please select a team below:</div>
            </div>
        </div>
    </div>
</div>

<div x-mojo-element="List" id="resultList" class="listClass"></div>

<div class="palm-scrim" id="ajaxScrim">
    <div x-mojo-element="Spinner" id="ajaxSpinner" class="spinnerClass"></div>
</div>
