<div id="queryInputDiv" class="palm-group">
    <div class="palm-group-title" x-mojo-loc=''>OAuth Test</div>
    <div class="palm-list">
        <div class="palm-row first" id="step1Row">
            <div class="palm-row-wrapper">
                <div class="title">
                    <div x-mojo-element="Button" id="step1" class="buttonClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row" id="codeRow">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div class="label"></div>
                    <div x-mojo-element="TextField" id="code" class="textFieldClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row" id="step2Row">
            <div class="palm-row-wrapper">
                <div class="title">
                    <div x-mojo-element="Button" id="step2" class="buttonClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row" id="refreshRow">
            <div class="palm-row-wrapper">
                <div class="title">
                    <div x-mojo-element="Button" id="refresh" class="buttonClass"></div>
                </div>
            </div>
        </div>
        <div class="palm-row last" id="getDataRow">
            <div class="palm-row-wrapper">
                <div class="title">
                    <div x-mojo-element="Button" id="getData" class="buttonClass"></div>
                </div>
            </div>
        </div>
    </div>
</div>
