<div class="palm-row" x-mojo-touch-feedback="delayed">
    <div class="palm-row-wrapper">
        <div id="queryResults1" class="title truncating-text">
            <table class="team"><tr>
                <td><span class="verLargeFont left">#{-current_position}</span></td>
                <td class="tdWide">
                    <span class="medFont leftMg15">#{-player_name} (#{-editorial_team_abbr} - #{-display_position})</span><br />
                    #{-player_schedule_list}
                    <span class="medFont leftMg15">#{-bye_week}</span><span class="medFont leftMg15">#{-status_list}</span>
                </td>
                <td><span class="verLargeFont right">#{-week_points}</span></td>
            </tr></table>
        </div>
    </div>
</div>