<div class="palm-group" id="groupLeague">
    <div class="palm-group-title" x-mojo-loc=''>League Details</div>
    <div class="palm-list">
        <div class="palm-row single" id="detailsRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="details"></div>
            </div>
        </div>
    </div>
</div>

<div x-mojo-element="List" id="standings" class="listClass"></div>

<div class="palm-group" id="groupTransactions">
    <div class="palm-group-title" x-mojo-loc=''>Transactions</div>
    <div class="palm-list">
        <div class="palm-row single" id="transactionsRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="transactions"></div>
            </div>
        </div>
    </div>
</div>

<div class="palm-group" id="groupMessages">
    <div class="palm-group-title" x-mojo-loc=''>Messages</div>
    <div class="palm-list">
        <div class="palm-row single" id="messagesRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="messages"></div>
            </div>
        </div>
    </div>
</div>
