<div class="palm-group" id="groupStatus">
    <div class="palm-group-title" x-mojo-loc=''>Status</div>
    <div class="palm-list">
        <div class="palm-row single" id="connectingRow">
            <div class="palm-row-wrapper textfield-group">
                <div id="connecting">Connecting to<br />Yahoo! Fantasy Sports...</div>
            </div>
        </div>
    </div>
</div>

<div class="palm-scrim" id="ajaxScrim">
    <div x-mojo-element="Spinner" id="ajaxSpinner" class="spinnerClass"></div>
</div>
